standby_mode = 'on'
primary_conninfo = 'host={{ postgresql_replication_primary_address }} port={{ postgersql_replication_primary_port }} user={{ postgresql_replication_user }}'
trigger_file = '{{ postgresql_data_dir }}/failover'
